In [8]:
import bs4 
import requests
import pandas as pd 
#from tabulate import tabulate
import numpy as np
import re

url = 'https://www.worldometers.info/coronavirus/'
html_text = requests.get(url)

html_text.raise_for_status()
#print('Status', html_text)

soup = bs4.BeautifulSoup(html_text.text, 'html.parser')
#print(soup.prettify())

name_of_class = soup.tr.text.strip()
#print(name_of_class)

data = []
something = soup.select('div tbody tr td')
for some in something:
    #print(some.getText())
    
    country = some.getText()
    
    cleaned = re.sub(r"\n", "", country)
    cleanedr2 = re.sub(r"\+", "", cleaned)
    #print(cleaned)
    data.append(cleanedr2)
#print(data)
numpy = np.array({})
for temp in range(0,len(data),13):
    numpy = (data[temp:temp+12])
    #print(data[temp:temp+12])
    insert_data(data[temp],data[temp+1],data[temp+2],data[temp+3],data[temp+4],data[temp+5],data[temp+6],data[temp+7],data[temp+8],data[temp+9],data[temp+10],data[temp+11],)

In [3]:
import mysql.connector as connector
#note - install dns - pip install dnspython
import pandas as pd 
import pymysql
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
from datetime import date
import re

#Create table in database
con = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='pythonexam')  
cursor = con.cursor()
# .format data på table navn
datenow = date.today()
datestring = datenow.strftime("%Y%m%d")
print(datestring)
query = "CREATE TABLE IF NOT EXISTS corona{} (Country varchar(255), Total_cases varchar(255), New_cases varchar(255), Total_deaths varchar(255), New_deaths varchar(255), Total_recov varchar(255), Active_cases varchar(255), Serious_critical varchar(255), Total_cases_1mio varchar(255), Deaths_1miopop varchar(255), Total_tests varchar(255), Tests_1miopop varchar(255))".format(datestring)
temp = query
cursor.execute(temp)

20200514

C:\Users\fskn\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'corona20200514' already exists")
  result = self._query(query)

0

In [4]:
from datetime import date

today = date.today()
print(today)

2020-05-14

In [5]:
import mysql.connector
from mysql.connector import Error

def insert_data(Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop):
    try:
        connection = mysql.connector.connect(host='localhost', port=3307, database='pythonexam', user='dev',password="ax2")
        cursor = connection.cursor()
        
        query = """INSERT INTO corona{} (Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop) 
                                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """.format(datestring) 
        
        record_tuple = (Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop)
        cursor.execute(query, record_tuple)
        connection.commit()
        #print("Record inserted successfully into table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            #print("MySQL connection is closed")

In [7]:
from tabulate import tabulate
soup = bs4.BeautifulSoup(html_text.text, 'html.parser')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print( tabulate(df[0], headers='keys', tablefmt='pretty') )

+-----+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+------------------+---------------+------------+---------------+
|     |     Country,Other      | TotalCases | NewCases | TotalDeaths | NewDeaths | TotalRecovered | ActiveCases | Serious,Critical | Tot Cases/1M pop | Deaths/1M pop | TotalTests | Tests/ 1M pop |
+-----+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+------------------+---------------+------------+---------------+
|  0  |         World          |  4464726   | +39,070  |  299418.0   |  +1,653   |   1678306.0    |   2487002   |     45774.0      |      573.0       |     38.4      |    nan     |      nan      |
|  1  |          USA           |  1432086   |  +1,738  |   85268.0   |    +71    |    310383.0    |   1036435   |     16337.0      |      4327.0      |     258.0     | 10287440.0 |    31080.0    |
|  2  |         Spain          |   272646   |  +1,551  |   27321.0   |   +217    |    186480.0    |    58845    |      1376.0      |      5831.0      |     584.0     | 2467761.0  |    52781.0    |
|  3  |         Russia         |   252245   |  +9,974  |   2305.0    |    +93    |    53530.0     |   196410    |      2300.0      |      1728.0      |     16.0      | 6188102.0  |    42403.0    |
|  4  |           UK           |   233151   |  +3,446  |   33614.0   |   +428    |      nan       |   199193    |      1559.0      |      3434.0      |     495.0     | 2219281.0  |    32691.0    |
|  5  |         Italy          |   222104   |   nan    |   31106.0   |    nan    |    112541.0    |    78457    |      893.0       |      3673.0      |     514.0     | 2735628.0  |    45246.0    |
|  6  |         Brazil         |   192081   |  +2,924  |   13276.0   |   +118    |    78424.0     |   100381    |      8318.0      |      904.0       |     62.0      |  735224.0  |    3459.0     |
|  7  |         France         |   178060   |   nan    |   27074.0   |    nan    |    58673.0     |    92313    |      2428.0      |      2728.0      |     415.0     | 1384633.0  |    21213.0    |
|  8  |        Germany         |   174098   |   nan    |   7861.0    |    nan    |    150300.0    |    15937    |      1465.0      |      2078.0      |     94.0      | 3147771.0  |    37570.0    |
|  9  |         Turkey         |   143114   |   nan    |   3952.0    |    nan    |    101715.0    |    37447    |      998.0       |      1697.0      |     47.0      | 1474003.0  |    17477.0    |
| 10  |          Iran          |   114533   |  +1,808  |   6854.0    |    +71    |    90539.0     |    17140    |      2758.0      |      1364.0      |     82.0      |  643772.0  |    7665.0     |
| 11  |         India          |   78810    |   +755   |   2564.0    |    +13    |    26675.0     |    49571    |       nan        |       57.0       |      2.0      | 1947041.0  |    1411.0     |
| 12  |          Peru          |   76306    |   nan    |   2169.0    |    nan    |    24324.0     |    49813    |      806.0       |      2314.0      |     66.0      |  553302.0  |    16781.0    |
| 13  |         Canada         |   72278    |   nan    |   5302.0    |    nan    |    35164.0     |    31812    |      502.0       |      1915.0      |     140.0     | 1169380.0  |    30983.0    |
| 14  |        Belgium         |   54288    |   +307   |   8903.0    |    +60    |    14111.0     |    31274    |      407.0       |      4684.0      |     768.0     |  623628.0  |    53809.0    |
| 15  |      Saudi Arabia      |   46869    |  +2,039  |    283.0    |    +10    |    19051.0     |    27535    |      147.0       |      1346.0      |      8.0      |  513587.0  |    14752.0    |
| 16  |      Netherlands       |   43481    |   +270   |   5590.0    |    +28    |      nan       |    37641    |      432.0       |      2538.0      |     326.0     |  282776.0  |    16503.0    |
| 17  |         Mexico         |   40186    |  +1,862  |   4220.0    |   +294    |    26990.0     |    8976     |      378.0       |      312.0       |     33.0      |  142204.0  |    1103.0     |
| 18  |        Pakistan        |   35788    |   +490   |    770.0    |    +9     |     9695.0     |    25323    |      111.0       |      162.0       |      3.0      |  330750.0  |    1497.0     |
| 19  |         Chile          |   34381    |   nan    |    346.0    |    nan    |    14865.0     |    19170    |      494.0       |      1799.0      |     18.0      |  313750.0  |    16413.0    |
| 20  |        Ecuador         |   30486    |   nan    |   2334.0    |    nan    |     3433.0     |    24719    |      190.0       |      1728.0      |     132.0     |  87036.0   |    4933.0     |
| 21  |      Switzerland       |   30463    |   +50    |   1870.0    |    nan    |    27100.0     |    1493     |       79.0       |      3520.0      |     216.0     |  328163.0  |    37918.0    |
| 22  |         Sweden         |   28582    |   +673   |   3529.0    |    +69    |     4971.0     |    20082    |      351.0       |      2830.0      |     349.0     |  177500.0  |    17576.0    |
| 23  |        Portugal        |   28319    |   +187   |   1184.0    |    +9     |     3198.0     |    23937    |      108.0       |      2777.0      |     116.0     |  582341.0  |    57111.0    |
| 24  |         Qatar          |   28272    |  +1,733  |    14.0     |    nan    |     3356.0     |    24902    |       72.0       |      9813.0      |      5.0      |  143938.0  |    49960.0    |
| 25  |        Belarus         |   26772    |   +947   |    151.0    |    +5     |     8168.0     |    18453    |       92.0       |      2833.0      |     16.0      |  308156.0  |    32611.0    |
| 26  |       Singapore        |   26098    |   +752   |    21.0     |    nan    |     4809.0     |    21268    |       19.0       |      4461.0      |      4.0      |  224262.0  |    38333.0    |
| 27  |        Ireland         |   23401    |   nan    |   1497.0    |    nan    |    19470.0     |    2434     |       69.0       |      4739.0      |     303.0     |  258808.0  |    52414.0    |
| 28  |          UAE           |   21084    |   +698   |    208.0    |    +2     |     6930.0     |    13946    |       1.0        |      2132.0      |     21.0      | 1560923.0  |   157822.0    |
| 29  |       Bangladesh       |   18863    |  +1,041  |    283.0    |    +14    |     3361.0     |    15219    |       1.0        |      115.0       |      2.0      |  151930.0  |     923.0     |
| 30  |         Poland         |   17469    |   +265   |    869.0    |    +8     |     6696.0     |    9904     |      160.0       |      462.0       |     23.0      |  554357.0  |    14647.0    |
| 31  |        Ukraine         |   16847    |   +422   |    456.0    |    +17    |     4143.0     |    12248    |      222.0       |      385.0       |     10.0      |  202495.0  |    4630.0     |
| 32  |         Israel         |   16567    |   +19    |    264.0    |    nan    |    12364.0     |    3939     |       62.0       |      1914.0      |     31.0      |  485922.0  |    56140.0    |
| 33  |        Romania         |   16247    |   +245   |   1046.0    |    +10    |     9053.0     |    6148     |      225.0       |      845.0       |     54.0      |  286217.0  |    14878.0    |
| 34  |        Austria         |   16058    |   +61    |    626.0    |    +2     |    14405.0     |    1027     |       54.0       |      1783.0      |     70.0      |  344606.0  |    38262.0    |
| 35  |         Japan          |   16049    |   nan    |    678.0    |    nan    |     8920.0     |    6451     |      243.0       |      127.0       |      5.0      |  223667.0  |    1768.0     |
| 36  |       Indonesia        |   16006    |   +568   |   1043.0    |    +15    |     3518.0     |    11445    |       nan        |       59.0       |      4.0      |  173690.0  |     635.0     |
| 37  |        Colombia        |   12930    |   nan    |    509.0    |    nan    |     3133.0     |    9288     |      130.0       |      254.0       |     10.0      |  165738.0  |    3257.0     |
| 38  |      South Africa      |   12074    |   nan    |    219.0    |    nan    |     4745.0     |    7110     |      119.0       |      204.0       |      4.0      |  386352.0  |    6514.0     |
| 39  |         Kuwait         |   11975    |   +947   |    88.0     |    +6     |     3451.0     |    8436     |      175.0       |      2804.0      |     21.0      |  231930.0  |    54309.0    |
| 40  |      Philippines       |   11876    |   +258   |    790.0    |    +18    |     2337.0     |    8749     |       77.0       |      108.0       |      7.0      |  189469.0  |    1729.0     |
| 41  |   Dominican Republic   |   11196    |   nan    |    409.0    |    nan    |     3221.0     |    7566     |      131.0       |      1032.0      |     38.0      |  42615.0   |    3928.0     |
| 42  |        S. Korea        |   10991    |   +29    |    260.0    |    +1     |     9762.0     |     969     |       55.0       |      214.0       |      5.0      |  711484.0  |    13877.0    |
| 43  |        Denmark         |   10713    |   +46    |    537.0    |    +4     |     8805.0     |    1371     |       35.0       |      1850.0      |     93.0      |  357986.0  |    61805.0    |
| 44  |         Egypt          |   10431    |   nan    |    556.0    |    nan    |     2486.0     |    7389     |       41.0       |      102.0       |      5.0      |  105000.0  |    1026.0     |
| 45  |         Serbia         |   10374    |   +79    |    224.0    |    +2     |     4084.0     |    6066     |       22.0       |      1187.0      |     26.0      |  162797.0  |    18632.0    |
| 46  |         Panama         |    8944    |   +161   |    256.0    |    +4     |     6067.0     |    2621     |       87.0       |      2073.0      |     59.0      |  45873.0   |    10632.0    |
| 47  |        Czechia         |    8275    |    +6    |    290.0    |    nan    |     5058.0     |    2927     |       42.0       |      773.0       |     27.0      |  334714.0  |    31255.0    |
| 48  |         Norway         |    8175    |   nan    |    232.0    |    +3     |      32.0      |    7911     |       23.0       |      1508.0      |     43.0      |  208874.0  |    38529.0    |
| 49  |       Australia        |    6989    |    +9    |    98.0     |    nan    |     6301.0     |     590     |       18.0       |      274.0       |      4.0      |  943480.0  |    36999.0    |
| 50  |       Argentina        |    6879    |   nan    |    329.0    |    nan    |     2266.0     |    4284     |      170.0       |      152.0       |      7.0      |  90474.0   |    2002.0     |
| 51  |        Malaysia        |    6819    |   +40    |    112.0    |    +1     |     5351.0     |    1356     |       16.0       |      211.0       |      3.0      |  271721.0  |    8395.0     |
| 52  |        Morocco         |    6593    |   +81    |    189.0    |    +1     |     3222.0     |    3182     |       1.0        |      179.0       |      5.0      |  76938.0   |    2084.0     |
| 53  |        Algeria         |    6253    |   nan    |    522.0    |    nan    |     3058.0     |    2673     |       22.0       |      143.0       |     12.0      |   6500.0   |     148.0     |
| 54  |        Finland         |    6145    |   +91    |    287.0    |    +3     |     4300.0     |    1558     |       33.0       |      1109.0      |     52.0      |  137000.0  |    24726.0    |
| 55  |        Bahrain         |    5816    |   nan    |    10.0     |    nan    |     2205.0     |    3601     |       6.0        |      3418.0      |      6.0      |  205570.0  |   120812.0    |
| 56  |      Afghanistan       |    5639    |   +413   |    136.0    |    +4     |     691.0      |    4812     |       7.0        |      145.0       |      3.0      |  19732.0   |     507.0     |
| 57  |       Kazakhstan       |    5571    |   +154   |    32.0     |    nan    |     2408.0     |    3131     |       31.0       |      297.0       |      2.0      |  459736.0  |    24484.0    |
| 58  |         Ghana          |    5408    |   nan    |    24.0     |    nan    |     514.0      |    4870     |       5.0        |      174.0       |      0.8      |  164452.0  |    5292.0     |
| 59  |        Moldova         |    5406    |   nan    |    185.0    |    nan    |     2176.0     |    3045     |      251.0       |      1340.0      |     46.0      |  20447.0   |    5069.0     |
| 60  |        Nigeria         |    4971    |   nan    |    164.0    |    nan    |     1070.0     |    3737     |       7.0        |       24.0       |      0.8      |  29408.0   |     143.0     |
| 61  |          Oman          |    4341    |   +322   |    17.0     |    nan    |     1303.0     |    3021     |       31.0       |      850.0       |      3.0      |  61000.0   |    11945.0    |
| 62  |       Luxembourg       |    3904    |   nan    |    103.0    |    nan    |     3629.0     |     172     |       22.0       |      6237.0      |     165.0     |  57687.0   |    92155.0    |
| 63  |        Armenia         |    3860    |   +142   |    49.0     |    +1     |     1572.0     |    2239     |       10.0       |      1303.0      |     17.0      |  36016.0   |    12154.0    |
| 64  |        Hungary         |    3380    |   +39    |    436.0    |    +6     |     1169.0     |    1775     |       49.0       |      350.0       |     45.0      |  123258.0  |    12759.0    |
| 65  |        Bolivia         |    3148    |   +184   |    142.0    |    +14    |     339.0      |    2667     |       3.0        |      270.0       |     12.0      |   7651.0   |     655.0     |
| 66  |          Iraq          |    3032    |   nan    |    115.0    |    nan    |     1966.0     |     951     |       nan        |       75.0       |      3.0      |  136640.0  |    3397.0     |
| 67  |        Thailand        |    3018    |    +1    |    56.0     |    nan    |     2850.0     |     112     |       61.0       |       43.0       |      0.8      |  286008.0  |    4098.0     |
| 68  |        Cameroon        |    2800    |   nan    |    136.0    |    nan    |     1543.0     |    1121     |       28.0       |      105.0       |      5.0      |    nan     |      nan      |
| 69  |         Greece         |    2760    |   nan    |    155.0    |    nan    |     1374.0     |    1231     |       28.0       |      265.0       |     15.0      |  112042.0  |    10749.0    |
| 70  |       Azerbaijan       |    2758    |   nan    |    35.0     |    nan    |     1789.0     |     934     |       30.0       |      272.0       |      3.0      |  208546.0  |    20568.0    |
| 71  |       Uzbekistan       |    2636    |   +24    |    11.0     |    nan    |     2136.0     |     489     |       8.0        |       79.0       |      0.3      |  325000.0  |    9710.0     |
| 72  |         Guinea         |    2374    |   nan    |    14.0     |    nan    |     856.0      |    1504     |       nan        |      181.0       |      1.0      |    nan     |      nan      |
| 73  |        Honduras        |    2255    |   +175   |    123.0    |    +2     |     237.0      |    1895     |       10.0       |      228.0       |     12.0      |   5653.0   |     571.0     |
| 74  |        Croatia         |    2221    |    +8    |    94.0     |    nan    |     1850.0     |     277     |       7.0        |      541.0       |     23.0      |  50340.0   |    12262.0    |
| 75  | Bosnia and Herzegovina |    2218    |   +37    |    122.0    |    +2     |     1272.0     |     824     |       4.0        |      676.0       |     37.0      |  45810.0   |    13963.0    |
| 76  |        Senegal         |    2189    |   +84    |    23.0     |    +2     |     842.0      |    1324     |       6.0        |      131.0       |      1.0      |  24599.0   |    1469.0     |
| 77  |        Bulgaria        |    2100    |   +31    |    99.0     |    +3     |     531.0      |    1470     |       51.0       |      302.0       |     14.0      |  61711.0   |    8881.0     |
| 78  |      Ivory Coast       |    1912    |   nan    |    24.0     |    nan    |     902.0      |     986     |       nan        |       72.0       |      0.9      |  15260.0   |     579.0     |
| 79  |         Sudan          |    1818    |   nan    |    90.0     |    nan    |     198.0      |    1530     |       nan        |       41.0       |      2.0      |    nan     |      nan      |
| 80  |          Cuba          |    1810    |   nan    |    79.0     |    nan    |     1326.0     |     405     |       7.0        |      160.0       |      7.0      |  73129.0   |    6456.0     |
| 81  |        Iceland         |    1802    |   nan    |    10.0     |    nan    |     1780.0     |     12      |       nan        |      5281.0      |     29.0      |  55075.0   |   161395.0    |
| 82  |        Estonia         |    1758    |    +7    |    62.0     |    +1     |     909.0      |     787     |       5.0        |      1325.0      |     47.0      |  67130.0   |    50606.0    |
| 83  |    North Macedonia     |    1723    |   +29    |    95.0     |    nan    |     1235.0     |     393     |       21.0       |      827.0       |     46.0      |  20088.0   |    9642.0     |
| 84  |       Lithuania        |    1511    |    +6    |    54.0     |    nan    |     934.0      |     523     |       17.0       |      555.0       |     20.0      |  208253.0  |    76499.0    |
| 85  |      New Zealand       |    1497    |   nan    |    21.0     |    nan    |     1411.0     |     65      |       2.0        |      310.0       |      4.0      |  209613.0  |    43468.0    |
| 86  |        Slovakia        |    1477    |    +8    |    27.0     |    nan    |     1112.0     |     338     |       5.0        |      271.0       |      5.0      |  131910.0  |    24161.0    |
| 87  |        Slovenia        |    1464    |    +1    |    103.0    |    nan    |     267.0      |    1094     |       7.0        |      704.0       |     50.0      |  66678.0   |    32073.0    |
| 88  |       Guatemala        |    1342    |   +143   |    29.0     |    +2     |     121.0      |    1192     |       5.0        |       75.0       |      2.0      |   7200.0   |     402.0     |
| 89  |        Djibouti        |    1268    |   nan    |     3.0     |    nan    |     900.0      |     365     |       nan        |      1283.0      |      3.0      |  16424.0   |    16623.0    |
| 90  |          DRC           |    1242    |   +73    |    50.0     |    nan    |     157.0      |    1035     |       nan        |       14.0       |      0.6      |    nan     |      nan      |
| 91  |        Somalia         |    1219    |   nan    |    52.0     |    nan    |     130.0      |    1037     |       2.0        |       77.0       |      3.0      |    nan     |      nan      |
| 92  |        Mayotte         |    1143    |   nan    |    14.0     |    nan    |     627.0      |     502     |       6.0        |      4190.0      |     51.0      |   4800.0   |    17594.0    |
| 93  |      El Salvador       |    1112    |   +75    |    20.0     |    nan    |     405.0      |     687     |       19.0       |      171.0       |      3.0      |  48913.0   |    7541.0     |
| 94  |       Kyrgyzstan       |    1082    |   +38    |    12.0     |    nan    |     735.0      |     335     |       13.0       |      166.0       |      2.0      |  59490.0   |    9118.0     |
| 95  |       Hong Kong        |    1052    |    +1    |     4.0     |    nan    |     1009.0     |     39      |       1.0        |      140.0       |      0.5      |  168291.0  |    22448.0    |
| 96  |        Tunisia         |    1032    |   nan    |    45.0     |    nan    |     759.0      |     228     |       5.0        |       87.0       |      4.0      |  34323.0   |    2904.0     |
| 97  |         Gabon          |    1004    |   nan    |     9.0     |    nan    |     152.0      |     843     |       1.0        |      451.0       |      4.0      |   5530.0   |    2485.0     |