In [1]:
#DO NOT RESTART & RUN ALL IN THIS NOTEBOOK. it will mess stuff up
#LDA
#Latent Dirichlet Allocation
#latent means hidden. Dirich is a type of probaility distribution
#we will attempt to find hiden topics from probability distributions
#Every document consists of a mix of topics. Every topic consist of a mix of words
#we want LDA to learn the mix of topics in each document, and the mix of words in each topic.
#We choose a number of topics we think our documents have.
#it randomly assigns each word in each document to a random topic
#it goes through each word and its assigned topic in each document. it looks at how often the topic
#occurs in the document and how often the word ocurs in the topic. based on this it might assign a new topic for the word.repeat.
#this is done through an import called gensim

In [2]:
import pandas as pd
import pickle
data = pd.read_pickle('dtmsix.pkl')
data

,aap,abc,abide,ability,able,aboard,aboveaverage,abroad,absence,absolute,...,young,younger,youre,youth,youve,yukon,zealand,zero,zoological,zoom
bbc,0,0,0,2,2,0,0,0,0,0,...,4,0,0,0,0,0,0,0,1,0
dailymail,0,0,0,1,18,0,0,1,1,3,...,0,0,2,0,2,0,0,1,0,0
fox,0,0,1,0,1,1,0,0,0,0,...,1,0,5,1,0,0,1,0,0,0
newsau,4,1,0,0,0,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
theguardian,0,0,0,1,1,0,0,1,0,0,...,6,1,3,0,0,0,0,1,0,0
thestar,0,0,0,0,6,0,0,0,0,0,...,0,0,4,0,0,1,0,1,0,1

In [3]:
from gensim import matutils, models #conda install -c conda-forge gensim  #lots of weird packages in this one...
import scipy.sparse
#import logging
#logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level-logging.INFO)

#lda needs a term-document matrix, so we transpose our document-term matrix to get that.
tdm = data.transpose()
tdm.head()

         bbc  dailymail  fox  newsau  theguardian  thestar
aap        0          0    0       4            0        0
abc        0          0    0       1            0        0
abide      0          0    1       0            0        0
ability    2          1    0       0            1        0
able       2         18    1       0            1        6

In [4]:
#for lda we need a sparse matrix and then a specific gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [5]:
cv= pickle.load(open("cvsix.pkl", "rb")) #gensim requires a dict of every single term and their location in the tdm. 
id2word = dict((v,k) for k,v in cv.vocabulary_.items()) #our cv has that, and the id for every single column in this vocabulary items

In [6]:
#we have everything needed now. we need to also specify number of topics and number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.009*"said" + 0.008*"people" + 0.007*"coronavirus" + 0.007*"virus" + 0.006*"new" + 0.003*"china" + 0.003*"pandemic" + 0.003*"infected" + 0.003*"infection" + 0.003*"social"'),
 (1,
  '0.013*"app" + 0.011*"said" + 0.007*"people" + 0.006*"government" + 0.006*"health" + 0.005*"nhs" + 0.005*"coronavirus" + 0.005*"contact" + 0.005*"virus" + 0.005*"data"')]

In [7]:
#more topics
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.012*"virus" + 0.011*"app" + 0.010*"said" + 0.009*"people" + 0.008*"coronavirus" + 0.005*"government" + 0.005*"health" + 0.004*"china" + 0.004*"vaccine" + 0.003*"risk"'),
 (1,
  '0.017*"said" + 0.010*"care" + 0.007*"homes" + 0.007*"health" + 0.006*"longterm" + 0.006*"residents" + 0.005*"march" + 0.005*"leave" + 0.005*"home" + 0.005*"staff"'),
 (2,
  '0.017*"app" + 0.010*"nhs" + 0.009*"contact" + 0.009*"people" + 0.008*"data" + 0.007*"said" + 0.006*"coronavirus" + 0.006*"government" + 0.005*"symptoms" + 0.005*"health"'),
 (3,
  '0.009*"new" + 0.008*"coronavirus" + 0.008*"said" + 0.007*"people" + 0.005*"homeless" + 0.005*"pandemic" + 0.005*"social" + 0.004*"china" + 0.004*"york" + 0.004*"city"')]

In [8]:
#3topics, 40 passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=40)
lda.print_topics()

[(0,
  '0.016*"app" + 0.008*"people" + 0.008*"said" + 0.008*"nhs" + 0.007*"contact" + 0.007*"government" + 0.007*"data" + 0.006*"coronavirus" + 0.005*"health" + 0.005*"virus"'),
 (1,
  '0.016*"said" + 0.006*"people" + 0.006*"virus" + 0.006*"care" + 0.006*"new" + 0.005*"coronavirus" + 0.005*"health" + 0.005*"home" + 0.004*"homes" + 0.004*"pandemic"'),
 (2,
  '0.010*"app" + 0.008*"people" + 0.007*"coronavirus" + 0.006*"virus" + 0.004*"said" + 0.003*"trial" + 0.003*"drugs" + 0.003*"evidence" + 0.003*"tests" + 0.003*"users"')]

In [9]:
#try with only nouns
from nltk import word_tokenize, pos_tag 
import nltk
#nltk.download('punkt') #run this
#nltk.download('averaged_perceptron_tagger') #run this

def nouns(text):
    is_noun = lambda pos: pos[:2] == 'NN' #NN is nouns, JJ is adjectives see https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html
    tokenized = word_tokenize(text)
    all_nouns = [word for (word,pos) in pos_tag(tokenized) if is_noun(pos)]
    return ' '.join(all_nouns)

In [10]:
data_clean = pd.read_pickle('data_clean_six.pkl')
data_clean

                                                      textbits
bbc          the uks test track and trace coronavirus strat...
dailymail    by kellie chudzinski for dailymailcom   publis...
fox          michigan governor doubles down on state of eme...
newsau       a vaccine is widely acknowledged as the key to...
theguardian  more people are staying indoors to avoid conta...
thestar      vicki mckenna came to the ministry of healths ...

In [11]:
#use nouns function
data_nouns = pd.DataFrame(data_clean.textbits.apply(nouns))
data_nouns

                                                      textbits
bbc          test track trace coronavirus strategy health s...
dailymail    kellie chudzinski dailymailcom comments monday...
fox          michigan governor state emergency tobin report...
newsau       vaccine key pandemic benefits country coronavi...
theguardian  people indoors contact people light report cen...
thestar      vicki mckenna ministry healths offices preside...

In [12]:
#new document term matrix with only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

add_stop_words=['like','im','know','just','dont','thats','right','people','youre','got','gonna','time','think','said',
               'aap', 'week','ace2','yesyoustillhavetostayhome']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.textbits)
data_dtmn=pd.DataFrame(data_cvn.toarray(),columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,ability,aboveaverage,absence,abundance,access,accident,accommodations,account,accusations,aches,...,yesterday,york,yorkers,yorks,yorkshire,youll,yukon,zealand,zero,zoom
bbc,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dailymail,1,0,0,1,7,0,0,2,0,0,...,4,2,0,0,2,0,0,0,1,0
fox,0,0,0,0,1,0,1,0,0,0,...,0,12,3,1,0,0,0,1,0,0
newsau,0,1,2,0,3,2,0,0,1,0,...,0,2,0,0,0,0,0,0,0,0
theguardian,1,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
thestar,0,0,0,0,2,0,0,0,0,0,...,0,3,0,0,0,1,1,0,1,1

In [13]:
#gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

#vocabulary dict
id2wordn = dict((v,k)for k,v in cvn.vocabulary_.items())

In [14]:
#2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.011*"coronavirus" + 0.006*"york" + 0.006*"city" + 0.005*"news" + 0.005*"police" + 0.005*"china" + 0.005*"homeless" + 0.004*"distancing" + 0.004*"officers" + 0.004*"media"'),
 (1,
  '0.020*"app" + 0.012*"virus" + 0.010*"health" + 0.010*"government" + 0.010*"coronavirus" + 0.008*"contact" + 0.008*"data" + 0.007*"risk" + 0.006*"symptoms" + 0.006*"care"')]

In [15]:
#3 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.018*"care" + 0.013*"homes" + 0.012*"health" + 0.010*"residents" + 0.009*"home" + 0.009*"staff" + 0.009*"march" + 0.008*"cases" + 0.008*"maternity" + 0.007*"government"'),
 (1,
  '0.013*"coronavirus" + 0.007*"york" + 0.007*"city" + 0.006*"news" + 0.006*"police" + 0.006*"china" + 0.006*"homeless" + 0.005*"distancing" + 0.005*"media" + 0.005*"officers"'),
 (2,
  '0.025*"app" + 0.014*"virus" + 0.012*"coronavirus" + 0.011*"government" + 0.011*"contact" + 0.010*"data" + 0.009*"health" + 0.008*"risk" + 0.007*"symptoms" + 0.006*"nhs"')]

In [16]:
#4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.023*"virus" + 0.016*"app" + 0.012*"government" + 0.010*"coronavirus" + 0.010*"vaccine" + 0.009*"health" + 0.008*"china" + 0.007*"risk" + 0.006*"cases" + 0.006*"infection"'),
 (1,
  '0.024*"app" + 0.012*"coronavirus" + 0.012*"contact" + 0.012*"data" + 0.010*"government" + 0.008*"health" + 0.007*"person" + 0.007*"nhs" + 0.007*"risk" + 0.007*"symptoms"'),
 (2,
  '0.017*"app" + 0.014*"virus" + 0.013*"coronavirus" + 0.007*"trial" + 0.007*"drugs" + 0.006*"health" + 0.006*"data" + 0.006*"evidence" + 0.006*"users" + 0.005*"tests"'),
 (3,
  '0.019*"care" + 0.014*"homes" + 0.013*"health" + 0.011*"residents" + 0.010*"staff" + 0.010*"home" + 0.009*"march" + 0.008*"cases" + 0.008*"maternity" + 0.007*"government"')]

In [17]:
#next lda we can try nouns and adjectives
#more passes will finetune it to reach a more steady point

In [18]:
def nouns_and_adj(text):
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ' #NN is nouns, JJ is adjectives see https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html
    tokenized = word_tokenize(text)
    nouns_and_adj = [word for (word,pos) in pos_tag(tokenized) if is_noun_adj(pos)]
    return ' '.join(nouns_and_adj)

In [19]:
data_nouns_adj = pd.DataFrame(data_clean.textbits.apply(nouns_and_adj))
data_nouns_adj

                                                      textbits
bbc          uks test track trace coronavirus strategy nati...
dailymail    kellie chudzinski dailymailcom comments first ...
fox          michigan governor state emergency tobin report...
newsau       vaccine key pandemic enormous benefits country...
theguardian  people indoors contact people light recent rep...
thestar      vicki mckenna ministry healths offices january...

In [20]:
#new dtm with nouns and adj
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.textbits)
data_dtmna = pd.DataFrame(data_cvna.toarray(),columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,abc,ability,aboveaverage,absence,absolute,abundance,access,accident,accommodations,account,...,youll,young,younger,youth,youve,yukon,zealand,zero,zoological,zoom
bbc,0,2,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,0,1,0
dailymail,0,1,0,0,3,1,7,0,0,2,...,0,0,0,0,1,0,0,1,0,0
fox,0,0,0,0,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,0,0
newsau,1,0,1,2,0,0,3,2,0,0,...,0,0,0,0,0,0,0,0,0,0
theguardian,0,1,0,0,0,0,0,0,0,0,...,0,6,1,0,0,0,0,0,0,0
thestar,0,0,0,0,0,0,2,0,0,0,...,1,0,0,0,0,1,0,1,0,1

In [21]:
#new gensim corpus for nouns and adj
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

#new vocabulary dictionary
id2wordna = dict((v,k) for k,v in cvna.vocabulary_.items())

In [22]:
#2 topics first
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.022*"app" + 0.011*"nhs" + 0.010*"contact" + 0.010*"data" + 0.005*"symptoms" + 0.005*"mr" + 0.005*"users" + 0.005*"test" + 0.004*"phone" + 0.004*"isle"'),
 (1,
  '0.009*"care" + 0.008*"app" + 0.006*"homes" + 0.005*"staff" + 0.004*"march" + 0.004*"longterm" + 0.004*"symptoms" + 0.004*"patients" + 0.004*"maternity" + 0.004*"ontario"')]

In [23]:
#3 topics first
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.001*"app" + 0.001*"data" + 0.001*"nhs" + 0.001*"contact" + 0.001*"mr" + 0.001*"symptoms" + 0.001*"test" + 0.001*"phone" + 0.000*"hancock" + 0.000*"human"'),
 (1,
  '0.009*"care" + 0.006*"homes" + 0.005*"march" + 0.005*"staff" + 0.005*"patients" + 0.004*"longterm" + 0.004*"symptoms" + 0.004*"app" + 0.004*"maternity" + 0.004*"trial"'),
 (2,
  '0.029*"app" + 0.013*"nhs" + 0.012*"contact" + 0.012*"data" + 0.007*"mr" + 0.006*"symptoms" + 0.005*"users" + 0.005*"test" + 0.005*"phone" + 0.004*"human"')]

In [24]:
#4 topics first
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.028*"app" + 0.015*"nhs" + 0.013*"contact" + 0.013*"data" + 0.007*"symptoms" + 0.006*"mr" + 0.006*"users" + 0.006*"test" + 0.005*"phone" + 0.004*"isle"'),
 (1,
  '0.021*"app" + 0.006*"cent" + 0.006*"states" + 0.005*"picture" + 0.005*"united" + 0.005*"mr" + 0.005*"restrictions" + 0.004*"source" + 0.004*"global" + 0.004*"chinese"'),
 (2,
  '0.009*"homeless" + 0.007*"york" + 0.007*"police" + 0.006*"monday" + 0.005*"distancing" + 0.005*"officers" + 0.005*"media" + 0.004*"chinese" + 0.004*"shelters" + 0.004*"ohio"'),
 (3,
  '0.014*"care" + 0.010*"homes" + 0.007*"staff" + 0.007*"march" + 0.007*"longterm" + 0.006*"symptoms" + 0.006*"patients" + 0.006*"maternity" + 0.006*"ontario" + 0.005*"canada"')]

In [ ]:
#er kommet til at kÃ¸re nedenstÃ¥ende celle efter jeg havde lavet smÃ¥ Ã¦ndringer i dataen og havde beskrevet den. KÃ¦mpe fejl. 
#Laver nye celler fremover

In [25]:
#test
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=120)
ldana.print_topics()

[(0,
  '0.018*"care" + 0.013*"homes" + 0.009*"march" + 0.009*"staff" + 0.009*"longterm" + 0.008*"maternity" + 0.007*"ontario" + 0.006*"nursing" + 0.006*"canada" + 0.006*"parental"'),
 (1,
  '0.029*"app" + 0.013*"nhs" + 0.012*"contact" + 0.012*"data" + 0.007*"mr" + 0.006*"symptoms" + 0.005*"test" + 0.005*"phone" + 0.005*"users" + 0.004*"human"'),
 (2,
  '0.007*"symptoms" + 0.006*"pankhania" + 0.005*"countries" + 0.005*"patients" + 0.005*"immune" + 0.005*"uk" + 0.005*"surface" + 0.005*"contact" + 0.004*"humans" + 0.004*"young"'),
 (3,
  '0.012*"app" + 0.005*"homeless" + 0.004*"york" + 0.004*"trial" + 0.004*"police" + 0.004*"distancing" + 0.004*"drugs" + 0.004*"users" + 0.004*"data" + 0.003*"prof"')]

In [26]:
#Topic 0: 
#Topic 1: 
#Topic 2: 
#Topic 3: 

#these  below would fit to an old version of our model.Read above, i accidently ran it again.
#Topic 0: travels,countries
#Topic 1: police, homeless people,metropolis
#Topic 2: sickness, 
#Topic 3: Court, criminals, drugs

In [27]:
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(3, 'bbc'),
 (1, 'dailymail'),
 (3, 'fox'),
 (1, 'newsau'),
 (2, 'theguardian'),
 (0, 'thestar')]

In [28]:
#these  below would fit to an old version of our model.Read above, i accidently ran the cell again with new data.
#Topic 0: travels,countries (newsau)
#Topic 1: police, homeless people,metropolis (fox)
#Topic 2: sickness (dailymail, theguardian, thestar)
#Topic 3: Court, criminals, drugs(bbc)

In [30]:
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=500)
ldana.print_topics()

[(0,
  '0.000*"west" + 0.000*"entire" + 0.000*"pressure" + 0.000*"greater" + 0.000*"hand" + 0.000*"reasons" + 0.000*"mobile" + 0.000*"exposure" + 0.000*"jobs" + 0.000*"addition"'),
 (1,
  '0.027*"app" + 0.016*"nhs" + 0.014*"contact" + 0.013*"data" + 0.008*"symptoms" + 0.007*"mr" + 0.006*"test" + 0.006*"phone" + 0.005*"users" + 0.004*"isle"'),
 (2,
  '0.010*"care" + 0.009*"app" + 0.008*"homes" + 0.005*"staff" + 0.005*"march" + 0.005*"longterm" + 0.004*"maternity" + 0.004*"ontario" + 0.004*"cent" + 0.004*"states"'),
 (3,
  '0.012*"app" + 0.007*"drugs" + 0.006*"contact" + 0.005*"symptoms" + 0.005*"uk" + 0.005*"countries" + 0.005*"trial" + 0.005*"patients" + 0.005*"nhs" + 0.004*"humans"')]

In [32]:
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=1000)
ldana.print_topics()

[(0,
  '0.011*"care" + 0.008*"homes" + 0.006*"staff" + 0.005*"march" + 0.005*"longterm" + 0.005*"patients" + 0.005*"maternity" + 0.005*"symptoms" + 0.004*"ontario" + 0.004*"canada"'),
 (1,
  '0.019*"app" + 0.006*"cent" + 0.005*"states" + 0.005*"united" + 0.005*"picture" + 0.004*"restrictions" + 0.004*"mr" + 0.004*"global" + 0.004*"chinese" + 0.004*"source"'),
 (2,
  '0.027*"app" + 0.014*"nhs" + 0.012*"contact" + 0.012*"data" + 0.007*"symptoms" + 0.006*"mr" + 0.006*"test" + 0.006*"users" + 0.005*"phone" + 0.004*"isle"')]

In [ ]:
#Topic 0: hospital, healthcare
#Topic 1: travels, countries
#Topic 2: phones,apps

In [33]:
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(2, 'bbc'),
 (2, 'dailymail'),
 (0, 'fox'),
 (1, 'newsau'),
 (0, 'theguardian'),
 (0, 'thestar')]

In [ ]:
#Topic 0: hospital, healthcare(fox,theguardian,thestar)
#Topic 1: travels, countries(newsau)
#Topic 2: phones,apps(bbc,dailymail)