In [42]:
import pymysql

connector = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='pythonexam')
cursor = connector.cursor()

query = ('SELECT country, total_cases from corona20200514 WHERE LENGTH(total_cases) > 5 and not country = %s and not country = %s and not country = %s and not country = %s and not country = %s and not country = %s and not country = %s and not country = %s and not country = %s')
where_not = "North America", "Asia", "South America", "Europe", "World", "Total:", "Africa", "Oceania", "South Africa"
cursor.execute(query, where_not)

countries = []
total_cases = [] 
for country, totalcases in cursor:
    countries.append(country)
    total_cases.append(totalcases)
    
cursor.close()
connector.close()

In [47]:
import matplotlib.pyplot as plt

figure = plt.figure(figsize=(50,50))
ax = figure.add_axes([0,0,1,1])
ax.bar(countries, total_cases)

ax.set_title("Total Cases Of Corona virus", fontsize=80)
ax.set_xlabel("Country", fontsize=50)
ax.set_xticklabels(countries, rotation=90, fontsize=50)
ax.set_ylabel("Total_cases", fontsize=50)
ax.set_yticklabels(total_cases, fontsize=50)
plt.show()

ValueError: could not convert string to float: '10,295'