In [4]:
import bs4 
import requests
import pandas as pd 
from tabulate import tabulate
import numpy as np
import re

url = 'https://www.worldometers.info/coronavirus/'
html_text = requests.get(url)

html_text.raise_for_status()
#print('Status', html_text)

soup = bs4.BeautifulSoup(html_text.text, 'html.parser')
#print(soup.prettify())

name_of_class = soup.tr.text.strip()
#print(name_of_class)

data = []
something = soup.select('div tbody tr td')
for some in something:
    #print(some.getText())
    
    country = some.getText()
    
    cleaned = re.sub(r"\n", "", country)
    cleanedr2 = re.sub(r"\+", "", cleaned)
    #print(cleaned)
    data.append(cleanedr2)
#print(data)
numpy = np.array({})
for temp in range(0,len(data),13):
    numpy = (data[temp:temp+12])
    #print(data[temp:temp+12])
    insert_data(data[temp],data[temp+1],data[temp+2],data[temp+3],data[temp+4],data[temp+5],data[temp+6],data[temp+7],data[temp+8],data[temp+9],data[temp+10],data[temp+11],)

In [1]:
import mysql.connector as connector
#note - install dns - pip install dnspython
import pandas as pd 
import pymysql
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
from datetime import date
import re

#Create table in database
con = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='pythonexam')  
cursor = con.cursor()
# .format data på table navn
datenow = date.today()
datestring = datenow.strftime("%Y%m%d")
print(datestring)
query = "CREATE TABLE IF NOT EXISTS corona{} (Country varchar(255), Total_cases varchar(255), New_cases varchar(255), Total_deaths varchar(255), New_deaths varchar(255), Total_recov varchar(255), Active_cases varchar(255), Serious_critical varchar(255), Total_cases_1mio varchar(255), Deaths_1miopop varchar(255), Total_tests varchar(255), Tests_1miopop varchar(255))".format(datestring)
temp = query
cursor.execute(temp)

20200511

0

In [2]:
from datetime import date

today = date.today()
print(today)

2020-05-11

In [3]:
import mysql.connector
from mysql.connector import Error

def insert_data(Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop):
    try:
        connection = mysql.connector.connect(host='localhost', port=3307, database='pythonexam', user='dev',password="ax2")
        cursor = connection.cursor()
        
        query = """INSERT INTO corona{} (Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop) 
                                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """.format(datestring) 
        
        record_tuple = (Country, Total_cases, New_cases, Total_deaths, New_deaths, Total_recov, Active_cases, Serious_critical, Total_cases_1mio, Deaths_1miopop, Total_tests, Tests_1miopop)
        cursor.execute(query, record_tuple)
        connection.commit()
        #print("Record inserted successfully into table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            #print("MySQL connection is closed")

In [4]:
soup = bs4.BeautifulSoup(html_text.text, 'html.parser')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
print( tabulate(df[0], headers='keys', tablefmt='pretty') )

+-----+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+------------------+---------------+------------+---------------+
|     |     Country,Other      | TotalCases | NewCases | TotalDeaths | NewDeaths | TotalRecovered | ActiveCases | Serious,Critical | Tot Cases/1M pop | Deaths/1M pop | TotalTests | Tests/ 1M pop |
+-----+------------------------+------------+----------+-------------+-----------+----------------+-------------+------------------+------------------+---------------+------------+---------------+
|  0  |         World          |  3834038   | +16,656  |  265238.0   |   401.0   |   1306483.0    |   2262317   |     48210.0      |      492.0       |     34.0      |    nan     |      nan      |
|  1  |          USA           |  1263224   |   +132   |   74809.0   |   10.0    |    213109.0    |   975306    |     15827.0      |      3816.0      |     226.0     | 8005589.0  |    24186.0    |
|  2  |         Spain          |   253682   |   nan    |   25857.0   |    nan    |    159359.0    |    68466    |      2075.0      |      5426.0      |     553.0     | 1932455.0  |    41332.0    |
|  3  |         Italy          |   214457   |   nan    |   29684.0   |    nan    |    93245.0     |    91528    |      1333.0      |      3547.0      |     491.0     | 2310929.0  |    38221.0    |
|  4  |           UK           |   201101   |   nan    |   30076.0   |    nan    |      nan       |   170681    |      1559.0      |      2962.0      |     443.0     | 1448010.0  |    21330.0    |
|  5  |         Russia         |   177160   | +11,231  |   1625.0    |   88.0    |    23803.0     |   151732    |      2300.0      |      1214.0      |     11.0      | 4803192.0  |    32913.0    |
|  6  |         France         |   174191   |   nan    |   25809.0   |    nan    |    53972.0     |    94410    |      3147.0      |      2669.0      |     395.0     | 1100228.0  |    16856.0    |
|  7  |        Germany         |   168162   |   nan    |   7275.0    |    nan    |    139900.0    |    20987    |      1884.0      |      2007.0      |     87.0      | 2755770.0  |    32891.0    |
|  8  |         Turkey         |   131744   |   nan    |   3584.0    |    nan    |    78202.0     |    49958    |      1278.0      |      1562.0      |     42.0      | 1234724.0  |    14640.0    |
|  9  |         Brazil         |   126611   |   nan    |   8588.0    |    nan    |    51370.0     |    66653    |      8318.0      |      596.0       |     40.0      |  339552.0  |    1597.0     |
| 10  |          Iran          |   101650   |   nan    |   6418.0    |    nan    |    81587.0     |    13645    |      2735.0      |      1210.0      |     76.0      |  531275.0  |    6325.0     |
| 11  |         Canada         |   63496    |   nan    |   4232.0    |    nan    |    28171.0     |    31093    |      502.0       |      1682.0      |     112.0     |  973558.0  |    25795.0    |
| 12  |          Peru          |   54817    |   nan    |   1533.0    |    nan    |    17527.0     |    35757    |      717.0       |      1663.0      |     46.0      |  429458.0  |    13025.0    |
| 13  |         India          |   53045    |   +58    |   1787.0    |    2.0    |    15331.0     |    35927    |       nan        |       38.0       |      1.0      | 1357413.0  |     984.0     |
| 14  |        Belgium         |   50781    |   nan    |   8339.0    |    nan    |    12731.0     |    29711    |      646.0       |      4382.0      |     720.0     |  474176.0  |    40914.0    |
| 15  |      Netherlands       |   41319    |   nan    |   5204.0    |    nan    |      nan       |    35865    |      628.0       |      2411.0      |     304.0     |  243277.0  |    14198.0    |
| 16  |      Saudi Arabia      |   31938    |   nan    |    209.0    |    nan    |     6783.0     |    24946    |      137.0       |      917.0       |      6.0      |  389659.0  |    11193.0    |
| 17  |      Switzerland       |   30060    |   nan    |   1805.0    |    nan    |    25700.0     |    2555     |      121.0       |      3473.0      |     209.0     |  290365.0  |    33550.0    |
| 18  |        Ecuador         |   29420    |   nan    |   1618.0    |    nan    |     3433.0     |    24369    |      156.0       |      1668.0      |     92.0      |  81392.0   |    4613.0     |
| 19  |         Mexico         |   27634    |  +1,609  |   2704.0    |   197.0   |    17781.0     |    7149     |      378.0       |      214.0       |     21.0      |  105664.0  |     820.0     |
| 20  |        Portugal        |   26182    |   nan    |   1089.0    |    nan    |     2076.0     |    23017    |      136.0       |      2568.0      |     107.0     |  470234.0  |    46116.0    |
| 21  |        Pakistan        |   24073    |   +859   |    564.0    |   20.0    |     6464.0     |    17045    |      111.0       |      109.0       |      3.0      |  244778.0  |    1108.0     |
| 22  |         Sweden         |   23918    |   nan    |   2941.0    |    nan    |     4074.0     |    16903    |      425.0       |      2368.0      |     291.0     |  148500.0  |    14704.0    |
| 23  |         Chile          |   23048    |   nan    |    281.0    |    nan    |    11189.0     |    11578    |      470.0       |      1206.0      |     15.0      |  232108.0  |    12142.0    |
| 24  |        Ireland         |   22248    |   nan    |   1375.0    |    nan    |    17110.0     |    3763     |       93.0       |      4506.0      |     278.0     |  214761.0  |    43493.0    |
| 25  |       Singapore        |   20939    |   +741   |    20.0     |    nan    |     1634.0     |    19285    |       23.0       |      3579.0      |      3.0      |  175604.0  |    30016.0    |
| 26  |        Belarus         |   19255    |   nan    |    112.0    |    nan    |     4388.0     |    14755    |       92.0       |      2038.0      |     12.0      |  220045.0  |    23287.0    |
| 27  |         Qatar          |   17972    |   nan    |    12.0     |    nan    |     2070.0     |    15890    |       72.0       |      6238.0      |      4.0      |  112963.0  |    39209.0    |
| 28  |         Israel         |   16310    |   nan    |    239.0    |    nan    |    10637.0     |    5434     |       89.0       |      1884.0      |     28.0      |  423125.0  |    48885.0    |
| 29  |          UAE           |   15738    |   nan    |    157.0    |    nan    |     3359.0     |    12222    |       1.0        |      1591.0      |     16.0      | 1200000.0  |   121330.0    |
| 30  |        Austria         |   15684    |   nan    |    608.0    |    nan    |    13639.0     |    1437     |       97.0       |      1741.0      |     68.0      |  292254.0  |    32450.0    |
| 31  |         Japan          |   15253    |   nan    |    556.0    |    nan    |     4496.0     |    10201    |      308.0       |      121.0       |      4.0      |  186343.0  |    1473.0     |
| 32  |         Poland         |   14740    |   nan    |    733.0    |    nan    |     4862.0     |    9145     |      160.0       |      389.0       |     19.0      |  410468.0  |    10846.0    |
| 33  |        Romania         |   14107    |   nan    |    868.0    |    4.0    |     5788.0     |    7451     |      244.0       |      733.0       |     45.0      |  217139.0  |    11287.0    |
| 34  |        Ukraine         |   13691    |   +507   |    340.0    |   13.0    |     2396.0     |    10955    |      178.0       |      313.0       |      8.0      |  151569.0  |    3466.0     |
| 35  |       Indonesia        |   12438    |   nan    |    895.0    |    nan    |     2317.0     |    9226     |       nan        |       45.0       |      3.0      |  128383.0  |     469.0     |
| 36  |       Bangladesh       |   11719    |   nan    |    186.0    |    nan    |     1403.0     |    10130    |       1.0        |       71.0       |      1.0      |  99646.0   |     605.0     |
| 37  |        S. Korea        |   10810    |    +4    |    256.0    |    1.0    |     9419.0     |    1135     |       55.0       |      211.0       |      5.0      |  649388.0  |    12666.0    |
| 38  |      Philippines       |   10343    |   +339   |    685.0    |   27.0    |     1618.0     |    8040     |       31.0       |       94.0       |      6.0      |  140134.0  |    1279.0     |
| 39  |        Denmark         |   10083    |   +145   |    506.0    |    nan    |     7493.0     |    2084     |       46.0       |      1741.0      |     87.0      |  284480.0  |    49114.0    |
| 40  |         Serbia         |    9791    |   nan    |    203.0    |    nan    |     1971.0     |    7617     |       48.0       |      1121.0      |     23.0      |  117474.0  |    13445.0    |
| 41  |        Colombia        |    8959    |   nan    |    397.0    |    nan    |     2148.0     |    6414     |      123.0       |      176.0       |      8.0      |  131110.0  |    2577.0     |
| 42  |   Dominican Republic   |    8807    |   nan    |    362.0    |    nan    |     1960.0     |    6485     |      144.0       |      812.0       |     33.0      |  33377.0   |    3077.0     |
| 43  |         Norway         |    7996    |   nan    |    216.0    |    nan    |      32.0      |    7748     |       27.0       |      1475.0      |     40.0      |  189657.0  |    34984.0    |
| 44  |        Czechia         |    7979    |    +5    |    263.0    |    1.0    |     4214.0     |    3502     |       52.0       |      745.0       |     25.0      |  286821.0  |    26783.0    |
| 45  |      South Africa      |    7808    |   nan    |    153.0    |    nan    |     3153.0     |    4502     |       36.0       |      132.0       |      3.0      |  279379.0  |    4711.0     |
| 46  |         Panama         |    7731    |   +208   |    218.0    |    8.0    |     859.0      |    6654     |       88.0       |      1792.0      |     51.0      |  38014.0   |    8810.0     |
| 47  |         Egypt          |    7588    |   nan    |    469.0    |    nan    |     1815.0     |    5304     |       nan        |       74.0       |      5.0      |  90000.0   |     879.0     |
| 48  |       Australia        |    6894    |   +19    |    97.0     |    nan    |     6040.0     |     757     |       27.0       |      270.0       |      4.0      |  703895.0  |    27604.0    |
| 49  |        Malaysia        |    6428    |   nan    |    107.0    |    nan    |     4702.0     |    1619     |       22.0       |      199.0       |      3.0      |  222150.0  |    6864.0     |
| 50  |         Kuwait         |    6289    |   nan    |    42.0     |    nan    |     2219.0     |    4028     |       88.0       |      1473.0      |     10.0      |  196397.0  |    45988.0    |
| 51  |        Finland         |    5573    |   nan    |    252.0    |    nan    |     3500.0     |    1821     |       44.0       |      1006.0      |     45.0      |  108200.0  |    19528.0    |
| 52  |        Morocco         |    5408    |   nan    |    183.0    |    nan    |     2017.0     |    3208     |       1.0        |      147.0       |      5.0      |  52958.0   |    1435.0     |
| 53  |       Argentina        |    5208    |   nan    |    273.0    |    nan    |     1524.0     |    3411     |      148.0       |      115.0       |      6.0      |  72315.0   |    1600.0     |
| 54  |        Algeria         |    4997    |   nan    |    476.0    |    nan    |     2197.0     |    2324     |       22.0       |      114.0       |     11.0      |   6500.0   |     148.0     |
| 55  |       Kazakhstan       |    4502    |   +80    |    30.0     |    nan    |     1408.0     |    3064     |       31.0       |      240.0       |      2.0      |  353843.0  |    18845.0    |
| 56  |        Moldova         |    4476    |   nan    |    143.0    |    nan    |     1658.0     |    2675     |      237.0       |      1110.0      |     35.0      |  20447.0   |    5069.0     |
| 57  |        Bahrain         |    3934    |   nan    |     8.0     |    nan    |     1860.0     |    2066     |       4.0        |      2312.0      |      5.0      |  160341.0  |    94231.0    |
| 58  |       Luxembourg       |    3851    |   nan    |    98.0     |    nan    |     3452.0     |     301     |       20.0       |      6152.0      |     157.0     |  50533.0   |    80726.0    |
| 59  |      Afghanistan       |    3392    |   nan    |    104.0    |    nan    |     458.0      |    2830     |       7.0        |       87.0       |      3.0      |  13777.0   |     354.0     |
| 60  |        Hungary         |    3150    |   +39    |    383.0    |   10.0    |     801.0      |    1966     |       50.0       |      326.0       |     40.0      |  94036.0   |    9734.0     |
| 61  |        Nigeria         |    3145    |   nan    |    103.0    |    nan    |     534.0      |    2508     |       4.0        |       15.0       |      0.5      |  21208.0   |     103.0     |
| 62  |         Ghana          |    3091    |   nan    |    18.0     |    nan    |     303.0      |    2770     |       4.0        |       99.0       |      0.6      |  129461.0  |    4166.0     |
| 63  |        Thailand        |    2992    |    +3    |    55.0     |    nan    |     2772.0     |     165     |       61.0       |       43.0       |      0.8      |  227860.0  |    3264.0     |
| 64  |          Oman          |    2958    |   +55    |    13.0     |    nan    |     980.0      |    1965     |       17.0       |      579.0       |      3.0      |  40459.0   |    7923.0     |
| 65  |        Armenia         |    2782    |   nan    |    40.0     |    nan    |     1135.0     |    1607     |       10.0       |      939.0       |     13.0      |  26929.0   |    9088.0     |
| 66  |         Greece         |    2663    |   nan    |    147.0    |    nan    |     1374.0     |    1142     |       36.0       |      255.0       |     14.0      |  87052.0   |    8352.0     |
| 67  |          Iraq          |    2480    |   nan    |    102.0    |    nan    |     1602.0     |     776     |       nan        |       62.0       |      3.0      |  117726.0  |    2927.0     |
| 68  |       Uzbekistan       |    2266    |   +33    |    10.0     |    nan    |     1577.0     |     679     |       8.0        |       68.0       |      0.3      |  325000.0  |    9710.0     |
| 69  |        Cameroon        |    2265    |   nan    |    108.0    |    nan    |     1000.0     |    1157     |       12.0       |       85.0       |      4.0      |    nan     |      nan      |
| 70  |       Azerbaijan       |    2127    |   nan    |    28.0     |    nan    |     1536.0     |     563     |       18.0       |      210.0       |      3.0      |  169790.0  |    16746.0    |
| 71  |        Croatia         |    2119    |   nan    |    85.0     |    nan    |     1601.0     |     433     |       14.0       |      516.0       |     21.0      |  41053.0   |    10000.0    |
| 72  | Bosnia and Herzegovina |    1987    |   nan    |    86.0     |    nan    |     928.0      |     973     |       4.0        |      606.0       |     26.0      |  36492.0   |    11123.0    |
| 73  |        Bolivia         |    1886    |   +84    |    91.0     |    5.0    |     198.0      |    1597     |       3.0        |      162.0       |      8.0      |   7651.0   |     655.0     |
| 74  |         Guinea         |    1856    |   nan    |    11.0     |    nan    |     597.0      |    1248     |       nan        |      141.0       |      0.8      |    nan     |      nan      |
| 75  |        Bulgaria        |    1811    |   +33    |    84.0     |    nan    |     384.0      |    1343     |       38.0       |      261.0       |     12.0      |  52931.0   |    7618.0     |
| 76  |        Iceland         |    1799    |   nan    |    10.0     |    nan    |     1750.0     |     39      |       nan        |      5272.0      |     29.0      |  51663.0   |   151397.0    |
| 77  |        Estonia         |    1720    |    +7    |    56.0     |    1.0    |     273.0      |    1391     |       4.0        |      1297.0      |     42.0      |  60530.0   |    45630.0    |
| 78  |          Cuba          |    1703    |   nan    |    69.0     |    nan    |     1001.0     |     633     |       14.0       |      150.0       |      6.0      |  59648.0   |    5266.0     |
| 79  |    North Macedonia     |    1539    |   nan    |    88.0     |    nan    |     1057.0     |     394     |       21.0       |      739.0       |     42.0      |  17836.0   |    8561.0     |
| 80  |      Ivory Coast       |    1516    |   nan    |    18.0     |    nan    |     721.0      |     777     |       nan        |       57.0       |      0.7      |  11448.0   |     434.0     |
| 81  |      New Zealand       |    1489    |    +1    |    21.0     |    nan    |     1332.0     |     136     |       2.0        |      309.0       |      4.0      |  168023.0  |    34843.0    |
| 82  |        Honduras        |    1461    |   +191   |    99.0     |    6.0    |     132.0      |    1230     |       10.0       |      148.0       |     10.0      |   5653.0   |     571.0     |
| 83  |        Slovenia        |    1448    |   nan    |    99.0     |    nan    |     246.0      |    1103     |       14.0       |      697.0       |     48.0      |  58923.0   |    28343.0    |
| 84  |        Slovakia        |    1445    |   +16    |    26.0     |    1.0    |     806.0      |     613     |       4.0        |      265.0       |      5.0      |  109767.0  |    20105.0    |
| 85  |       Lithuania        |    1433    |    +5    |    49.0     |    1.0    |     739.0      |     645     |       17.0       |      526.0       |     18.0      |  164088.0  |    60276.0    |
| 86  |        Senegal         |    1433    |   nan    |    12.0     |    nan    |     493.0      |     928     |       6.0        |       86.0       |      0.7      |  18969.0   |    1133.0     |
| 87  |        Djibouti        |    1124    |   nan    |     3.0     |    nan    |     755.0      |     366     |       nan        |      1138.0      |      3.0      |  14538.0   |    14715.0    |
| 88  |       Hong Kong        |    1041    |   nan    |     4.0     |    nan    |     932.0      |     105     |       2.0        |      139.0       |      0.5      |  154989.0  |    20674.0    |
| 89  |        Tunisia         |    1025    |   nan    |    43.0     |    nan    |     591.0      |     391     |       18.0       |       87.0       |      4.0      |  25555.0   |    2162.0     |
| 90  |         Latvia         |    909     |    +9    |    18.0     |    1.0    |     464.0      |     427     |       3.0        |      482.0       |     10.0      |  71069.0   |    37678.0    |
| 91  |       Kyrgyzstan       |    895     |   +24    |    12.0     |    nan    |     637.0      |     246     |       13.0       |      137.0       |      2.0      |  59490.0   |    9118.0     |
| 92  |         Cyprus         |    883     |   nan    |    15.0     |    nan    |     296.0      |     572     |       15.0       |      731.0       |     12.0      |  69037.0   |    57180.0    |
| 93  |        Somalia         |    873     |   nan    |    39.0     |    nan    |      87.0      |     747     |       2.0        |       55.0       |      2.0      |    nan     |      nan      |
| 94  |          DRC           |    863     |   +66    |    36.0     |    1.0    |     103.0      |     724     |       nan        |       10.0       |      0.4      |    nan     |      nan      |
| 95  |         Sudan          |    852     |   nan    |    49.0     |    nan    |      80.0      |     723     |       nan        |       19.0       |      1.0      |    nan     |      nan      |
| 96  |        Albania         |    832     |   nan    |    31.0     |    nan    |     595.0      |     206     |       7.0        |      289.0       |     11.0      |   9531.0   |    3312.0     |
| 97  |       Guatemala        |    798     |   +35    |    21.0     |    2.0    |      86.0      |     691     |       5.0        |       45.0       |      1.0      |   7200.0   |     402.0     |